# Permitir execução de scripts de build para pacotes confiáveis
enable-pre-post-scripts=true

# Permissões específicas para Tailwind v4 e Esbuild
only-built-dependencies[]=@tailwindcss/oxide
only-built-dependencies[]=esbuild
only-built-dependencies[]=lightningcss

